## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

In [7]:
# Your code here

tup = "I"
tup = tuple (tup)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [8]:
# Your code here
type (tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [11]:
# Your code here

# Your explanation here
# You can :) 

#Given that tuples are immutable, you cannot change the elements of a tuple after it has been created.
newtup = tup + ("r", "o", "n", "h", "a", "c", "k")
print(newtup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [59]:
# Your code here

#Given that tuples are immutable, you cannot change the elements of a tuple after it has been created or also reassign it to a new value.

tup= ("I", "r", "o", "n", "h", "a", "c", "k")
print (tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [ ]:
#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [42]:
tup1 = newtup[0:4]
tup2 = newtup[-4:]
print(tup1)
print(tup2)
print(newtup)
type(tup1)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')
('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

tuple

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [23]:
# Your code here
tup3= tup1 + tup2
print(tup3)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [49]:
print(type(tup1))
print(len(tup1))
print(len(tup2))
if len(tup1) + len(tup2) == len(tup3):
    print("The tuples are of equal length.")
else:
    print("The tuples are of different lengths.")

len(tup3)

<class 'tuple'>
4
4
The tuples are of equal length.

8

#### What is the index number of `"h"` in `tup3`?

In [50]:
# Your code here
tup3.index("h")

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [53]:
# Your code here
letters = ["a", "b", "c", "d", "e"]

for i in letters:
    if i in tup3:
        print(True)
    else:
        print(False)

True
False
True
False
False

In [ ]:
# Your code here

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [55]:
letters = ["a", "b","c", "d", "e"]
for i in letters:
    count = 0
    if i in tup3:
        count +=1
        print(f"{i} occurs {count} times in {tup3}")
    else:
        print(f"{i} occurs {count} times in {tup3}")

a occurs 1 times in ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
b occurs 0 times in ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
c occurs 1 times in ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
d occurs 0 times in ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
e occurs 0 times in ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [63]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [75]:
# Your code here
sample_list_1 = random.sample(range(0, 101), 80)
print(sample_list_1)
len(sample_list_1)

[94, 25, 2, 100, 34, 65, 76, 75, 58, 15, 70, 61, 35, 20, 99, 31, 56, 95, 92, 36, 87, 40, 51, 10, 28, 93, 74, 18, 90, 98, 47, 30, 7, 55, 59, 71, 8, 68, 83, 53, 19, 85, 66, 69, 48, 57, 11, 60, 45, 80, 72, 43, 78, 24, 1, 46, 82, 33, 64, 32, 38, 67, 89, 13, 37, 50, 3, 23, 4, 0, 91, 63, 62, 79, 81, 21, 27, 88, 9, 49]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [166]:
# your code here

set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 13, 15, 18, 19, 20, 21, 23, 24, 25, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [91]:
# your code here

sample_list_2 = random.choices(range(0, 100), k=80)
print(sample_list_2)
len(sample_list_2)

[8, 66, 32, 41, 50, 28, 65, 97, 39, 42, 32, 71, 50, 5, 77, 64, 79, 30, 56, 40, 67, 28, 80, 8, 53, 11, 42, 21, 88, 90, 76, 10, 27, 46, 93, 56, 81, 51, 23, 1, 86, 9, 62, 20, 84, 69, 87, 18, 4, 78, 93, 63, 4, 81, 24, 7, 96, 61, 8, 19, 38, 69, 41, 26, 40, 33, 88, 42, 47, 13, 90, 30, 74, 46, 94, 75, 93, 65, 57, 81]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [156]:
# Your code here
set2 = set(sample_list_2)
print(set2)
len(set2)

{1, 4, 5, 7, 8, 9, 10, 11, 13, 18, 19, 20, 21, 23, 24, 26, 27, 28, 30, 32, 33, 38, 39, 40, 41, 42, 46, 47, 50, 51, 53, 56, 57, 61, 62, 63, 64, 65, 66, 67, 69, 71, 74, 75, 76, 77, 78, 79, 80, 81, 84, 86, 87, 88, 90, 93, 94, 96, 97}

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [157]:
# Your code here
set3 = set()
for i in set2:
    if i in set1:
        
        set3.add(i)
    else:
        print(f"{i} is not in the first list.")

print( set3)
len(set3)

1 is not in the first list.
5 is not in the first list.
7 is not in the first list.
8 is not in the first list.
9 is not in the first list.
10 is not in the first list.
11 is not in the first list.
19 is not in the first list.
20 is not in the first list.
21 is not in the first list.
26 is not in the first list.
27 is not in the first list.
28 is not in the first list.
32 is not in the first list.
39 is not in the first list.
41 is not in the first list.
42 is not in the first list.
46 is not in the first list.
47 is not in the first list.
50 is not in the first list.
51 is not in the first list.
53 is not in the first list.
56 is not in the first list.
57 is not in the first list.
61 is not in the first list.
62 is not in the first list.
63 is not in the first list.
65 is not in the first list.
69 is not in the first list.
71 is not in the first list.
74 is not in the first list.
75 is not in the first list.
76 is not in the first list.
78 is not in the first list.
79 is not in the first list.
81 is not in the first list.
84 is not in the first list.
86 is not in the first list.
90 is not in the first list.
93 is not in the first list.
96 is not in the first list.
{64, 33, 66, 67, 4, 97, 38, 40, 13, 77, 80, 18, 87, 23, 24, 94, 88, 30}

18

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [158]:
# Your code here
set4 = set.difference(set2, set1)
print(set4) 
len(set4)

{1, 5, 7, 8, 9, 10, 11, 19, 20, 21, 26, 27, 28, 32, 39, 41, 42, 46, 47, 50, 51, 53, 56, 57, 61, 62, 63, 65, 69, 71, 74, 75, 76, 78, 79, 81, 84, 86, 90, 93, 96}

41

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [159]:
# Your code here
set5= set1.intersection(set2)
print(set5)
len(set5)

{64, 33, 66, 67, 4, 97, 38, 40, 13, 77, 80, 18, 87, 23, 24, 94, 88, 30}

18

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [160]:
# Your code here
len(set1)
len(set2)

59

In [111]:
len(set1)

80

In [112]:
len(set3)

24

In [113]:
len(set4)

35

In [168]:
len(set1) == len(set3) + len(set5) == len(set2) - len(set4) + len(set5)

False

In [169]:
len(set5)
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
59
18
41
18

#### Create an empty set called `set6`.

In [170]:
len(set1) == len(set3) + len(set5) == len(set2) - len(set4) + len(set5)

False

In [ ]:
# Your code here
set6 = ()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [130]:
# Your code here
set6 = set()  # create an empty set
set6.update(set3)
set6.update(set5)
print(set6)

{1, 4, 9, 13, 18, 19, 23, 24, 30, 33, 38, 39, 40, 64, 66, 67, 71, 77, 79, 80, 87, 88, 94, 97}

#### Check if `set1` and `set6` are equal.

In [165]:
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [135]:
# Your code here
print(set2.issubset(set1))  # Check if set2 is a subset of set1
print(set3.issubset(set1))  # Check if set3 is a subset of set1

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [145]:
# Your code here
combined_set = set3.union(set5).union(set4)
print(combined_set)
combined_set2 = set1.union(set2)
print(combined_set2)

combined_set == combined_set2

{1, 4, 5, 7, 8, 9, 10, 11, 13, 18, 19, 20, 21, 23, 24, 26, 27, 28, 30, 32, 33, 38, 39, 40, 41, 42, 46, 47, 50, 51, 53, 56, 57, 61, 62, 63, 64, 65, 66, 67, 69, 71, 74, 75, 76, 77, 78, 79, 80, 81, 84, 86, 87, 88, 90, 93, 94, 96, 97}
{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 18, 19, 20, 21, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 38, 39, 40, 41, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 61, 62, 63, 64, 65, 66, 67, 69, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 99, 100, 102, 107, 109, 112, 116, 125, 126, 132, 133, 141, 142, 144, 147, 149, 151, 152, 154, 155, 159, 160, 161, 162, 165, 166, 167, 168, 173, 175, 177, 178, 180, 183, 184, 190, 192, 195, 198}

False

#### Using the `pop` method, remove the first element from `set1`.

In [150]:
# Your code here
set1.pop()
print(set1)
len(set1)

{4, 6, 9, 13, 14, 18, 19, 23, 24, 29, 30, 31, 33, 38, 39, 40, 44, 48, 49, 52, 55, 58, 64, 66, 67, 71, 72, 77, 79, 80, 83, 85, 87, 88, 89, 94, 95, 97, 99, 100, 102, 107, 109, 112, 116, 125, 126, 132, 133, 141, 142, 144, 147, 149, 151, 152, 154, 155, 159, 160, 161, 162, 165, 166, 167, 168, 173, 175, 177, 178, 180, 183, 184, 190, 192, 195, 198}

77

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [153]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    set1.discard(item)  # Use discard to avoid KeyError if item is not found
print(set1)
len(set1)

{4, 6, 13, 14, 18, 23, 24, 30, 33, 38, 40, 44, 48, 52, 55, 58, 64, 66, 67, 72, 77, 80, 83, 85, 87, 88, 94, 95, 97, 100, 102, 107, 109, 112, 116, 125, 126, 132, 133, 141, 142, 144, 147, 149, 151, 152, 154, 155, 159, 160, 161, 162, 165, 166, 167, 168, 173, 175, 177, 178, 180, 183, 184, 190, 192, 195, 198}

67

## BONUS - Challenge 3: Dictionaries

In this challenge you will practice how to manipulate Python dictionaries. Before starting on this challenge, you are encouraged to review W3School's [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp).

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in *sort* method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song *Shape of You*. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [ ]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

#### Sort the keys of `word_freq` ascendingly.

Please create a new dictionary called `word_freq2` based on `word_freq` with the keys sorted ascedingly.

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

📖 [Documentation for a for loop](https://docs.python.org/3/reference/compound_stmts.html#for)

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [ ]:
# Your code here

#### Sort the values of `word_freq` ascendingly.

Sorting the values of a dictionary is more tricky than sorting the keys because a dictionary's values are not unique. Therefore you cannot use the same way you sorted dict keys to sort dict values.

The way to sort a dict by value is to utilize the `sorted` and `operator.itemgetter` functions. The following code snippet is provided to you to try. It will give you a list of tuples in which each tuple contains the key and value of a dict item. And the list is sorted based on the dict value ( [reference](http://thomas-cokelaer.info/blog/2017/12/how-to-sort-a-dictionary-by-values-in-python/)
).

```python
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
print(sorted_tups)
```

Therefore, the steps to sort `word_freq` by value are:

* Using `sorted` and `operator.itemgetter`, obtain a list of tuples of the dict key-value pairs which is sorted on the value.

* Create an empty dictionary named `word_freq2`.

* Iterate the list of tuples. Insert each key-value pair into `word_freq2` as an object.

Print `word_freq2` to confirm your dictionary has its values sorted. Your output should be:

```python
{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}
```

In [ ]:
# Your code here